* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html *,
html :after,
html :before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  display: inline-block;
}

a,
a:visited {
  color: black;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 4rem;
  background-color: gainsboro;
  position: fixed;
  margin-bottom: 5rem;
  z-index: 5;
}

.navbar__navigation-link-left {
  margin-right: auto;
}

.navbar__logo {
  height: 64px;
}

.navbar__navigation-links {
  display: flex;
  gap: 25px;
  text-transform: uppercase;
}

.navbar .shopping-cart-icon {
  display: flex;
  margin-left: auto;
  margin-right: 0.2rem;
  height: 1.5rem;
}

.shopping-cart-icon {
  position: relative;
}

.cart-number-container {
  position: absolute;
  left: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #000000;
  border-radius: 50%;
}

.cart-widget-hover {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: fit-content;
}

.visibility-hidden {
  visibility: hidden;
}

div.cart-widget-hover__transparent {
  min-height: 84px;
}

.cart-widget-hover__transparent--link {
  display: block;
  width: 100px;
  margin-left: auto;
}

.cart-widget-hover__white {
  background-color: #ffffff;
  padding: 8px;
  box-shadow: 0 1px 31px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 1px 31px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 31px -8px rgba(0, 0, 0, 0.75);
}

.cart-widget-hover__subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.cart-widget-hover-item {
  display: flex;
  border-bottom: 1px solid #555;
  padding: 10px 0;
  gap: 8px;
}

.cart-widget-hover-item__image-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-widget-hover-item__image {
  max-width: 100%;
  max-height: 100%;
}

.cart-widget-hover-item__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.cart-widget-hover-item__description-title {
  padding-right: 40px;
}

.cart-widget-hover__delete {
  margin-left: auto;
}

.universe-filter {
  min-width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: inherit;
  margin-left: auto;
}

.universe-filter__title {
  margin: 10px 0;
}

.universe-filter__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.universe-filter__list li {
  list-style: none;
}

.universe-filter__checkbox label {
  margin-right: 4px;
}

.clear-selection {
  width: fit-content;
  margin: 0 auto;
}

.item-detail-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  margin: 84px auto;
  flex: 1;
}

.item-detail-container > h2 {
  text-align: center;
  margin-top: 20px;
}

.item-detail-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  padding: 50px;
  border-bottom: 2px solid black;
}

.item-detail-description__image {
  height: 300px;
  width: 300px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 2px solid black;
}

.item-detail-description__image img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  height: fit-content;
}

.item-detail-description__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item-detail-description__about {
  list-style-position: inside;
}

.item-detail-description__about > p {
  text-decoration: underline;
}

.item-detail-description__about li {
  margin: 5px 0;
}

.item-card a,
.item-card a:visited {
  text-decoration: none;
  color: black;
}

.item-count-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border: 1px black solid;
  padding: 0.5rem;
}

.item-count-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  border: 2px solid #a9a9a9;
  border-radius: 4px;
  padding: 0.5rem;
}

.bg-lightgray {
  background-color: #ededed;
}

.bg-white {
  width: 100%;
  background-color: #ffffff;
}

.item-count-control > button {
  background-color: transparent;
  border: 0;
  color: #468dfb;
  display: flex;
  align-items: center;
}

.add-to-cart-button {
  width: 100%;
  border: 2px solid #468dfb;
  border-radius: 4px;
  background-color: #ffffff;
  color: #468dfb;
  padding: 0.5rem;
}

.loading {
  width: fit-content;
  margin: 5rem auto;
  font-size: 5rem;
}

.item-list-container {
  background-color: #a9a9a9;
  width: fit-content;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
  margin: 1rem auto 1rem 0;
}

.sort-by-container {
  display: flex;
  justify-content: space-between;
}

.icon-copy-clipboard {
  cursor: pointer;
}

.sort-by-select {
  margin-left: auto;
  padding: 12px;
  border-radius: 8px;
  max-width: 100%;
  -webkit-appearance: none;
  background-image: url("chevron-down.svg");
  background-color: #fff;
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: right 8px center;
  padding-right: 2.25em;
  font-size: 16px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  text-align: center;
  margin-top: 1rem;
}

.capitalize {
  text-transform: capitalize;
}

.item-card {
  position: relative;
  overflow: hidden;
  width: 300px;
  min-height: 359px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 4px;
  padding: 8px;
  background-color: white;
  border: 1px solid #bacdd8;
  border-radius: 12px;
  box-shadow: 1px 4px 4px -1px rgb(0 0 0 / 15%);
}

.item-card__title {
  font-size: 1.5rem;
  margin-top: auto;
  white-space: break-spaces;
}

.item-card__img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  flex: 1;
}

.center-div {
  margin: auto;
}

.item-card__detail-link {
  display: block;
  border-radius: 4px;
  background-color: #dbdbdb;
  text-decoration: none;
  color: #000000;
  padding: 0.5rem;
  border: 1px transparent solid;
}

.item-card__detail-link:hover {
  border: 1px black solid;
  box-shadow: 1px 4px 4px -1px rgb(0 0 0 / 15%);
}

.item-detail-container > * {
  flex: 1;
}

a.active-category {
  color: #8e8e8e;
}

.active-category > img {
  filter: invert(65%) sepia(0%) saturate(0%) hue-rotate(358deg) brightness(87%) contrast(85%);
}

.item-card__new::before,
.item-card__new::after {
  background: #0070cc;
}

.item-card > .item-card__flag {
  position: absolute;
  z-index: 1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #fff;
  left: 1.25rem;
  top: -1.5rem;
  width: auto;
  font-weight: 900;
  padding: 0.125rem 1.75rem 0.125rem 0.66rem;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  border-radius: 0 0.2rem 0.2rem 0;
}

.item-card > .item-card__flag::before,
.item-card > .item-card__flag::after {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 0 0.2rem 0.2rem 0;
  width: calc(100% - 1rem);
  height: 100%;
  display: block;
}

.item-card > .item-card__flag::before {
  transform: skewX(30deg);
}

.item-card > .item-card__flag::after {
  transform: skewX(-30deg);
}

.cart {
  min-width: 1000px;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex: 1 1;
  padding: 15px;
  padding-top: 100px;
}

.cart-list-container {
  flex: 1;
}

.cart-list-container-header__item {
  margin-right: auto;
}

.cart-item {
  min-width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid black;
}

.cart-item__image-container {
  width: 140px;
  height: 140px;
  display: grid;
  background-color: #ffffff;
  padding: 10px;
}

.cart-item__image {
  max-width: 128px;
  max-height: 128px;
  margin: auto;
}

.material-icons.trash {
  background-color: transparent;
  border: 0;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  width: 20%;
  padding: 10px;
  background-color: aliceblue;
  height: fit-content;
}

.cart-summary__header,
.cart-summary__subtotal {
  display: flex;
  justify-content: space-between;
}

.cart-list-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.cart-list-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-cart-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line-division {
  position: relative;
}

.line-division::after {
  content: " ";
  width: 100%;
  position: absolute;
  border-bottom: 2px solid black;
  bottom: -8px;
}

.page-title-container {
  margin: 1rem auto;
}

.page-title-container__secondary {
  font-weight: 100;
}

.page-title-container__main {
  font-size: 4rem;
}

.flex-1 {
  flex: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.checkout-container {
  width: 100%;
  padding: 50px;
  display: flex;
  gap: 25px;
  padding-top: 100px;
  margin: auto;
}

.checkout-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkout-form__row-two-column,
.checkout-form__row-one-column {
  width: 100%;
  display: flex;
}

.checkout-form__row-one-column {
  flex-direction: column;
}

.checkout-form__row-two-column > div {
  width: 50%;
}

.checkout-form label {
  display: block;
}

.checkout-form input[type="submit"] {
  margin-left: auto;
  padding: 5px;
  width: fit-content;
}

.checkout-form__input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid black;
}

.product-container {
  display: flex;
  flex: 1;
  margin-top: 84px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip .tooltiptext-visible {
  visibility: visible;
  opacity: 1;
}

.custom-link-button {
  display: block;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  margin: 2px 0;
  width: 100%;
}

a.custom-link-button {
  text-decoration: none;
}

button.custom-link-button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  border: 0;
}

a.custom-link-button--dark {
  color: #ffffff;
}

.custom-link-button--dark {
  background-color: #555;
  color: #ffffff;
}

.custom-link-button--light {
  background-color: #ffffff;
}

.cursor-pointer {
  cursor: pointer;
}

.cart-widget-hover__delete {
  margin-bottom: auto;
}

.loading-spinner {
  width: 100px;
  margin: auto;
}

.max-width-1400 {
  max-width: 1400px;
}

.checkout-products-list {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-products-list__total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding-top: 25px;
}

.checkout-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-product__image-container {
  width: 65px;
  height: 65px;
  border-radius: 8px;
  background-color: #ffffff;
  text-align: center;
  position: relative;
  border: 1px solid black;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-product__image {
  max-height: 100%;
  max-width: 100%;
}

.checkout-product__quantity {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background-color: gray;
  opacity: 0.95;
  border-radius: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  min-height: 84px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #dcdcdc;
}
