* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html *,
html :after,
html :before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

button {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 4rem;
  background-color: gainsboro;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar ul li {
  display: inline-block;
  margin: 0 1rem;
}

.navbar__icon {
  margin-right: auto;
}

.navbar .shopping-cart-icon {
  display: flex;
  margin-left: auto;
  margin-right: 0.2rem;
  height: 1.5rem;
}

.item-count-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border: 1px black solid;
  padding: 0.5rem;
}

.item-count-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  border: 2px solid #a9a9a9;
  border-radius: 4px;
  padding: 0.5rem;
}

.bg-lightgray {
  background-color: #ededed;
}

.bg-white {
  width: 100%;
  background-color: #ffffff;
}

.item-count-control > button {
  background-color: transparent;
  border: 0;
  color: #468dfb;
  display: flex;
  align-items: center;
}

.add-to-cart-button {
  width: 100%;
  border: 2px solid #468dfb;
  border-radius: 4px;
  background-color: #ffffff;
  color: #468dfb;
  padding: 0.5rem;
}

.loading {
  width: fit-content;
  margin: 5rem auto;
  font-size: 5rem;
}

.item-list-container {
  min-width: 1000px;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  padding: 2rem;
  text-align: center;
  margin: auto;
  flex: 1;
}

.capitalize {
  text-transform: capitalize;
}

.Item-card {
  position: relative;
  overflow: hidden;
  width: 300px;
  min-height: 359px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 4px;
  padding: 8px;
  background-color: white;
  border: 1px solid #bacdd8;
  border-radius: 12px;
  box-shadow: 1px 4px 4px -1px rgb(0 0 0 / 15%);
}

.Item-card__title {
  font-size: 1.5rem;
  margin-top: auto;
  white-space: break-spaces;
}

.Item-card__img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  flex: 1;
}

.center-div {
  margin: auto;
}

.Item-card__detail-link {
  display: block;
  border-radius: 4px;
  background-color: #dbdbdb;
  text-decoration: none;
  color: #000000;
  padding: 0.5rem;
  border: 1px transparent solid;
}

.Item-card__detail-link:hover {
  border: 1px black solid;
  box-shadow: 1px 4px 4px -1px rgb(0 0 0 / 15%);
}

.item-detail-container {
  max-width: 1200px;
  background-color: #468dfb;
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: auto;
}

.item-detail-container > * {
  flex: 1;
}

.ItemDetail-image-container {
  max-height: 600px;
  max-width: 600px;
  padding: 10px;
}

.ItemDetail-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ItemDetail-info-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.ItemDetail-info-container__about {
  list-style-position: inside;
}

.Item-card a,
.Item-card a:visited {
  text-decoration: none;
  color: black;
}

.footer {
  min-height: 84px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #dcdcdc;
}

a.active-category {
  color: red;
}

.Item-card__new::before,
.Item-card__new::after {
  background: #0070cc;
}

.Item-card > .Item-card__flag {
  position: absolute;
  z-index: 1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #fff;
  left: 1.25rem;
  top: -1.5rem;
  width: auto;
  font-weight: 900;
  padding: 0.125rem 1.75rem 0.125rem 0.66rem;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  border-radius: 0 0.2rem 0.2rem 0;
}

.Item-card > .Item-card__flag::before,
.Item-card > .Item-card__flag::after {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 0 0.2rem 0.2rem 0;
  width: calc(100% - 1rem);
  height: 100%;
  display: block;
}

.Item-card > .Item-card__flag::before {
  transform: skewX(30deg);
}

.Item-card > .Item-card__flag::after {
  transform: skewX(-30deg);
}

.navbar__navigation-links {
  display: flex;
  gap: 25px;
  text-transform: uppercase;
}

.navbar__navigation-link-left {
  margin-right: auto;
}

.cart {
  min-width: 1000px;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex: 1 1;
}

.cart-list-container {
  flex: 1;
}

.cart-list-container-header {
}

.cart-list-container-header__item {
  margin-right: auto;
}

.cart-item {
  min-width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid black;
}

.cart-item__image-container {
  width: 140px;
  height: 140px;
  display: grid;
  background-color: #ffffff;
  padding: 10px;
}

.cart-item__image {
  max-width: 128px;
  max-height: 128px;
  margin: auto;
}

.material-icons.trash {
  background-color: transparent;
  border: 0;
}

.cart-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  left: 1.5rem;
}

.shopping-cart-icon {
  position: relative;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  width: 20%;
  padding: 10px;
  background-color: aliceblue;
  height: fit-content;
}

.checkout-container__header,
.checkout-container__subtotal {
  display: flex;
  justify-content: space-between;
}

.cart-list-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.cart-list-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-division {
  position: relative;
}

.line-division::after {
  content: " ";
  width: 100%;
  position: absolute;
  border-bottom: 2px solid black;
  bottom: -8px;
}

.page-title-container {
  margin: 1rem auto;
}

.page-title-container__secondary {
  font-weight: 100;
}

.page-title-container__main {
  font-size: 4rem;
}

.flex-1 {
  flex: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.checkout-container {
  width: 100%;
  padding: 50px;
  display: flex;
  background-color: red;
}

.checkout-form {
  width: 60%;
}

.checkout-form__row-two-column,
.checkout-form__row-one-column {
  width: 100%;
  display: flex;
}

.checkout-form__row-one-column {
  flex-direction: column;
}

.checkout-form__row-two-column > div {
  width: 50%;
}

.checkout-form label {
  display: block;
}

.checkout-form input[type="submit"] {
  display: block;
}
